<%- include("./partials/header") %>
<div class="container">
  <h1>Hello Campers!</h1>

  <a class="btn btn-primary" href="/campgrounds">View All Campgrounds</a>
  <a class="btn btn-primary" href="/campgrounds/new">Add Campground</a>
</div>

<%- include("partials/footer") %>