<%- include("partials/header") %>
<div class="container">
  <div class="row">
    <div class="col-md-4 centered">
      <h1>Login</h1>
      <form action="/login" method="POST">
        <input type="text" class="form-control" name="username" placeholder="Username">
        <input type="password" class="form-control" name="password" placeholder="Password">
        <button class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
<%- include("partials/footer") %>
