.thumbnail img{
  width: 100%;
}

.thumbnail{
  padding: 0;
}

.thumbnail .caption-full{
  padding: 9px;
}

.delete-form{
  display: inline;
}

.comment-edit-btn{
  margin-bottom: 10px;
}

.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.form-header{
  text-align: center;
}

.form-div{
  width: 30%;
  margin: 25px auto;
}